html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
      font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
}

.cell {
  display: inline-block;
  vertical-align: middle;
  width: 144px;
  overflow: hidden;
  border-collapse: collapse;
  padding: 0;
}

.row {
  width: 100%;
}

  .row input {
      width: 100%;
  }

table {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.cell-row{
  /*font-weight: bold;*/

  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;

  border: 2px;
  /*border-top-style: solid;*/
  border-style: solid;
}
